* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url(https://www.db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);

body {
    font-family:'SF Pro Text', Arial;
    flex-direction: column;
    display: flex;
    height: 100vh;
}

:root {
    --main-bg-color: #5f6368;
    --sec-bg-color: #f3f3f3;
    --ter-bg-color: #eaeff0;
    --linha-color :#dfe1e5;
}

/* Estilização do componente */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: white;
}
p {
    font-family: 'SF Pro Text' Arial, Helvetica, sans-serif;
 font-size: 17px;
 font-style: normal;
 font-weight: 400;
 line-height: 20px;
letter-spacing: -0.6499999761581421px;
text-align: left;

}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.icons:hover {
    box-shadow: 0px 0px 5px #d3d3d4;
    border-radius: 20px;
}


.icons {
    margin-top: 30px;
    display: flex;
    width: 100%;
    max-width: 500px;
}

.container2 form {
    width: 100%;
}

#content {
  
    margin: 0 auto;
    width: 480px;
    height: 500px;
    display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 100px;;

   
}
.item {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    height: 48px;
    width:35px;
    background: white;
    margin:5px;
       
}
.item:nth-child(5) {
    flex-grow:1 ;
    margin-bottom:75px ;
         
}
 
form input {
    height: 45px;
    width: 100%;
    border: 1px solid #dfe1e5;
    border-left: white;
    border-right: white;
    outline: 0;
    padding-left: 13px;
}

.form-horizontal {
    height: 45px;
    width: 100%;
    border: 1px solid #dfe1e5;
    border-left: #dfe1e5;
    border-right: #dfe1e5;
    outline: 0;
    padding-left: 13px;
    
}

.lupa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    border-left: 1px solid var(--linha-color);
    border-bottom: 1px solid var(--linha-color);
    border-top: 1px solid var(--linha-color);
    border-top-left-radius:50%; 
    border-bottom-left-radius: 50%;
}

.teclado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    border-right: 1px solid var(--linha-color);
    border-bottom: 1px solid var(--linha-color);
    border-top: 1px solid var(--linha-color);
    border-top-right-radius:50%; 
    border-bottom-right-radius: 50%;
    cursor: pointer;
}

.botao {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 350px;
    margin-top: 30px;
}

.botao input {
    color: var(--main-bg-color);
    padding-left: 0;
    font-size: 11pt;
    width: 142px;
    height: 36px;
    cursor: pointer;
}

.botao input:hover {
    box-shadow: 0px 0px 5px #d3d3d4;
}
span {
    background: #0584FE;
    height: 22px;
   width: 3px;
   left: 12px;
   top: 7px;
  border-radius: 1px;
  

}
.form-horizontal__2 {
    height: 45px;
    width: 100%;
    border: 1px solid #dfe1e5;
    border-left: #dfe1e5;
    border-right: #dfe1e5;
    outline: 0;
    padding-left: 13px;
   
}

#content1 {
 
    margin: 0 auto;
    width: 600px;
    height: 500px;
    display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 100px;;

   
}
.item1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    height: 30px;
    width:20px;
   
    margin:5px;
    

       
}
.item1:nth-child(5) {
    flex-grow:4 ;
         
}
.form {
    
    height: 30px;
    width: 100%;
    outline: 0;
    padding-left: 13px;
    
}
.lupa1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;   
    border-bottom: 1px solid var(--linha-color);
    border-top: 1px solid var(--linha-color);
   
}
.lupa3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;   
    border-bottom: 1px solid var(--linha-color);
    border-top: 1px solid var(--linha-color);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}